* {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding-left: 8.75rem;
  padding-right: 8.125rem;
  padding-bottom: 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1.875rem;
}

.nav-logo-text {
  text-align: center;
  font-size: 2.813rem;
  font-weight: 700;
}

.nav-logo-text1 {
  color: #ff42a5;
}

.nav-links,
.nav-links a {
  display: flex;
  gap: 1.875rem;
  list-style: none;
  color: #3c354f;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
}

.nav-links li a {
  text-decoration: none;
}

.home {
  padding: 1.5rem 1.125rem;
}

.nav-group {
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
  background: rgba(11, 2, 35, 0.1);
  height: 1.9rem;
  justify-content: center;
  gap: 1.5rem;
  padding: 1.5rem 1.125rem;
}

.nav-hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.nav-hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px;
}

.nav-text1 {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

.nav-text2 {
  font-size: 5.625rem;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  color: #8758f1;
  margin: 0;
}

.nav-hero-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav-hero-list li {
  gap: 0.3125rem;
}

.nav-hero-img {
  padding-left: 4.375rem;
}

.nav-img1 {
  width: 40.625rem;
  height: 27.5rem;
}

.nav-hero-img2 {
  gap: 0.3125rem;
}

.nav-img2 {
  width: 13.3125rem;
  height: 13.3125rem;
}

.nav-img3 {
  width: 22.5565rem;
  height: 14.689875rem;
}

.btn {
  display: flex;
  gap: 1.5rem;
}

.btn-primary {
  padding: 1.25rem 3.25rem;
  gap: 1.5625rem;
  border-radius: 3rem;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
}

.main-feature1 {
  padding-top: 7.5rem;
}

.feature-text {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.feature-text-heading {
  color: #0b0223;
  text-align: right;
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}
.fth{
 color: #8758F1 ;
}

.feature-text-pg {
  color: #534c64;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
  padding-bottom: 7.5rem;
}

.card {
  position: relative;
  width: 15.625rem;
  height: 18.75rem;
  background-color: #fff;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.card img {
  width: 100%;
  height: 11.25rem;
  border-radius: 0.5rem 0.5rem 0 0;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  width: 3.75rem;
  height: 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.play-icon {
  color: #fff;
  font-size: 1.5rem;
}

.card:hover {
  transform: scale(1.05);
}

.card:hover .play-button {
  opacity: 1;
}

.main-feature2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 7.5rem;
  gap: 8.75rem;
}

.main-feature2 .feature-text1 h2 {
  font-size: 1.5rem;
  line-height: 1.3;
  margin-bottom: 0.625rem;
}

.main-feature2 .feature-text1 p {
  font-size: 1rem;
  line-height: 1.6;
}

.main-feature2 .picture-container {
  position: relative;
  margin-left: 1.25rem;
}

.main-feature2 .big-picture {
  width: 25rem;
  max-width: 100%;
}

.main-feature2 .small-picture {
  position: absolute;
  bottom: -4rem;
  left: -5rem;
  width: 11.25rem;
}

.fea-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
}

.fet{
  color: #8758F1 ;
}

.feature-text1 {
  display: flex;
  flex-direction: column;
}

.fxt {
  padding-right: 9.625rem;
}

.main-contain {
  width: 80%;
  margin: auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-bottom: 5rem;
}

.category {
  display: flex;
  align-items: center;
  flex-basis: 15%;
  background-color: #ffffff;
  padding: 0.625rem;
  box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.3);
  border-radius: 3.125rem;
  transition: background-color 0.3s, border-radius 0.3s;
  gap: 0.9375rem;
}

.category img {
  max-width: 100%;
  height: auto;
}

.category:hover {
  background-color: #f9f9f9;
  border-radius: 1.5625rem;
}

.footer {
  padding-top: 1.25rem;
  background-color: #0b0223;
}

.footer-sec1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.125rem;
  color: #FFFFFF;
}

.fs1 {
  padding-bottom: 7.5rem;
}

.footer-sec1 li {
  list-style: none;
}

.lg {
  display: flex;
  gap: 0.625rem;
  justify-content: center;
  align-items: center;
}

.lg1 {
  color: #fff;
}

@media (max-width: 767px) {
  .nav{
    flex-direction: column;
  }
  
  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .nav-links a {
    color: #3c354f;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
  }

  .nav-group {
    display: flex;
    align-items: center;
    width: 15rem;
    padding: 1rem;
    background: rgba(11, 2, 35, 0.1);
    border-radius: 0.8rem;
    justify-content: center;
  }
.nav-text1 {
  color: #0b0223;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}
.nav-text2 {
  font-size: 3rem;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  color: #8758f1;
  margin: 0;
}
  .nav-hero-img {
    padding-left: 1.5rem;
  }

  .nav-img1 {
    width: 22rem;
    height: 16.5rem;
  }
  .nav-img2 {
    width: 10rem;
    height: 10.3125rem;
  }
  .nav-img3 {
    width: 14rem;
    height: 12rem;
  }
  .feature-text {
  display: flex;
  align-items: center;
  flex-direction: column;
}
  .feature-text-heading {
    color: #0b0223;
    text-align: right;
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
  }

  .btn-primary {
    padding: 1rem 2rem;
  }

  .main-feature1 {
    
    padding-top: 3rem;
  }

  .card-container {
    padding-bottom: 3rem;
  }

  .main-feature2 {
    flex-direction: column;
    gap: 2rem;
  }

  .main-feature2 .big-picture {
    width: 18rem;
    max-width: 100%;
  }

  .main-feature2 .picture-container {
    margin-left: 0;
    margin-bottom: 1.5rem;
  }

  .container {
  
  display: flex;

  justify-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  border-radius: 3.125rem;
  padding-bottom: 7.5rem;
}




.feature-text {
  display: flex;
  align-items: center;
  flex-direction: column;
}



.fth {
  color: #8758f1;
}

.feature-text-pg {
  color: #534c64;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem;
  padding-bottom: 7.5rem;
}

.card {
  position: relative;
  width: 15.625rem;
  height: 18.75rem;
  background-color: #fff;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.card img {
  width: 100%;
  height: 11.25rem;
  border-radius: 0.5rem 0.5rem 0 0;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  width: 3.75rem;
  height: 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.play-icon {
  color: #fff;
  font-size: 1.5rem;
}

.card:hover {
  transform: scale(1.05);
}

.card:hover .play-button {
  opacity: 1;
}



.main-feature2 .feature-text1 h2 {
  font-size: 1.5rem;
  line-height: 1.3;
  margin-bottom: 0.625rem;
}

.main-feature2 .feature-text1 p {
  font-size: 1rem;
  line-height: 1.6;
}

.main-feature2 .picture-container {
  position: relative;
  margin-left: 1.25rem;
}



.main-feature2 .small-picture {
  position: absolute;
  bottom: -3rem;
  left: -3rem;
  width: 9.25rem;
}

.fea-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
}

.fet {
  color: #8758f1;
}

.feature-text1 {
  display: flex;
  flex-direction: column;
}

.fxt {
  padding-right: 9.625rem;
}




.category {
  
  align-items: center;
  flex-basis: 15%;
  flex-wrap: 0;
  flex-shrink: 0;
  background-color: #ffffff;
  padding: 0.625rem;
  box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.3);
  border-radius: 3.125rem;
  transition: background-color 0.3s, border-radius 0.3s;
  gap: 0.9375rem;
}

.category img {
  max-width: 100%;
  height: auto;
}

.category:hover {
  background-color: #f9f9f9;
  border-radius: 1.5625rem;
}

/* Footer section */
.footer {
  padding-top: 1.25rem;
  background-color: #0b0223;
}

.footer-sec1 {
  display: flex;
 flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3.125rem;
  color: #FFFFFF;
  width: 20rem;
}

.fs1 {
  padding-top: 1rem;
  padding-bottom: 7.5rem;
  padding-left: 3rem;
}

.fs2{
  width: 13rem;
padding-left: 6rem;

}

.footer-sec1 li {
  list-style: none;
}

.lg {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  justify-content: center;
  align-items: center;
}

.lg1 {
  color: #fff;
}
}